{
     "repositories": [
      {
          "type": "vcs",
          "url": "https://github.com/james75/Behat"
      }],
    "require": {
        "behat/behat": "dev-formatter_junit_1 as 3.0.6",
        "drupal/drupal-extension": "master"
    },
    "minimum-stability": "dev"
}
